{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer__top">
        <center>
            <div class="footer__top__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
        </center>
        </div>
    </div>
</footer>